<html>
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
  <link rel="stylesheet" href="../../public/css/style.css">
  <style>
    /* Additional styles specific to this page */
    /* ... */
  </style>
</head>
<body>
  <header class="navbar">
    <li class="nav-item">
      <a href="/">Home!</a>
    </li>
    <li class="nav-item">
      <a href="/login">Login!</a>
    </li>
    {{#if logged_in}}
      <li class="nav-item">
        <a href="/dashboard">Dashboard!</a>
      </li>
      <li class="nav-item">
        <a href="/logout">Logout!</a>
      </li>
    {{/if}}
  </header>

  <main>
    <div class="hero">
      <h1 class="app-title">
        <a href="#">CMS Blog!</a>
      </h1>
      {{body}}
    </div>

    <section>
      <h2>Talk Tech Here!</h2>
      <p></p>
    </section>

  </main>
</body>
</html>